.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.input-tag__tags li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: var(--accent-color);
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: 300;
  list-style: none;
}

.input-tag__tags li.input-tag__tags__input {
  margin-right: 0;
  margin-top: 7px;
}

.input-tag__tags li.input-tag__tags__item {
  transition: opacity 0.2s ease-in-out;
}

.input-tag__tags li.input-tag__tags__item:hover {
  opacity: .5;
}

.input-tag__tags li.input-tag__tags__input {
  flex-grow: 1;
  padding: 0;
  margin-bottom: 0;
  background: none;
  width: 100%;
}

.input-tag__tooltip {
  position: absolute;
  display: inline-block;
  z-index: 100;
  padding: 5px 10px;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  color: white;
  font-size: 12px;
  transform: translate(0, 100%);
  transition: opacity 0.3s;
  cursor: pointer;
}

.input-tag__tooltip:hover {
  background-color: var(--accent-color-light);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
