.loading-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: transparent;
  z-index: 9999;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  width: 30%;
  background-color: var(--accent-color);
  animation: loading-bar-move 1.2s linear infinite;
}

@keyframes loading-bar-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}
