.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  overflow: hidden;
  min-height: 100px;
}

.result:hover {
  background-color: var(--input-hover-background-color);
}

.result .thumbnail {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: background-size 0.2s ease-in-out;
  overflow: hidden;
}

.result:hover .thumbnail {
  background-size: 110%;
}

.result .thumbnail .info {
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  color: white;
  font-size: 0.8rem;
}

.result .thumbnail .info svg {
  width: 1rem;
  height: 100%;
  margin-right: 0.2rem;
}

.result .title {
  padding: 0.5rem;
  cursor: pointer;
}

.result .title:hover {
  text-decoration: underline;
}

.result .details {
  padding: 0.5rem;
}

.result .details span {
  cursor: pointer;
}

.result a {
  color: #333;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}

.result .private {
  color: var(--accent-color);
  font-size: 0.8rem;
}

.result .date {
  color: #666;
  font-size: 0.8rem;
}

.result .friends img {
  width: 1.2rem;
  height: 1.2rem;
}

.result .download {
  display: inline-block;
  float: right;
}

.result .download svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  stroke: var(--text-color);
}

.result .download svg:hover {
  stroke: var(--accent-color);
}

.result .loading svg {
  stroke: var(--accent-color);
  animation: loading 0.5s alternate infinite;
}

.result .done svg {
  stroke: var(--green);
}

@keyframes loading {
  0% {
    stroke: var(--accent-color);
  }
  100% {
    stroke: var(--container-background-color);
  }
}
