.result {
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result:hover {
  background-color: var(--input-hover-background-color);
}

.result .thumbnail {
  width: 100%;
  height: 100px;
  margin-bottom: .5rem;
  padding: .5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.result:hover .thumbnail {
  background-size: 110%;
}

.result .thumbnail .info {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.result .thumbnail .info svg {
  width: 1rem;
  height: 100%;
  margin-right: 0.2rem;
}

.result .title {
  padding: 0.5rem;
  cursor: pointer;
}

.result .title:hover {
  text-decoration: underline;
}

.result .details {
  padding: 0.5rem;
}

.result .details span {
  cursor: pointer;
}

.result a {
  color: #333;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}

.result .private {
  font-size: 0.8rem;
  color: #666;
}

.result .date {
  font-size: 0.8rem;
  color: #666;
}

/* at the top of the thumbnail */
.result .friends {
  position: absolute;
  top: 0;
  margin: .5rem;
}

.result .friends img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .8;
  padding: 2px;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.result:hover .friends img {
  background-color: white;
  opacity: 1;
}

.result .download {
  display: inline-block;
  float: right;
}

.result .download svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  stroke: white;
}

.result .download svg:hover {
  stroke: var(--accent-color);
}

.result .loading svg {
  stroke: var(--accent-color);
  animation: loading .5s alternate infinite;
}

.result .done svg {
  stroke: greenyellow;
}

@keyframes loading {
  0% {
    stroke: var(--accent-color);
  }
  100% {
    stroke: white;
  }
}
