.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 20px;
  margin: 100px auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
  gap: 12px;
}

.title {
  font-size: 18px;
}

@media (max-width: 800px) {
  .home {
    width: 80vw;
  }

  .buttons {
    flex-direction: column;
  }
}
