body {
  padding: 0 16px 16px 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  padding: 12px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.results-container {
  height: 85vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--container-background-color);
  border-radius: 0.5rem;
  overflow: scroll;
}

.results-container.inactive {
  pointer-events: none;
  animation: loading-results 0.5s ease-in-out alternate infinite;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

h1 {
  margin-bottom: 8px;
  font-size: 28px;
}

h2 {
  margin: 0;
  font-size: 1.4rem;
}

.form-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.form-columns > div {
  display: flex;
  justify-content: space-between;
}

.button-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.button-columns-3 {
  display: flex;
  justify-content: stretch;
  margin-bottom: 12px;
  gap: 12px;
}

.button-columns-3 > div {
  display: flex;
  flex: 1;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.results-header select {
  width: 120px;
  margin-left: 12px;
  text-align: center;
}

.results-header input {
  width: 180px;
  margin-left: 12px;
}

div.label-tooltip {
  background-color: var(--accent-color);
  opacity: 1;
  font-size: 0.8em;
  max-width: 150px;
  padding: 8px 12px;
  border-radius: 0.5rem;
  animation: fade-in 0.2s;
}

a.username {
  float: right;
  color: var(--text-color);
  text-decoration: var(--accent-color) underline 2px;
  font-weight: bold;
  transition: text-decoration-color 0.2s ease-in-out;
}

a.username:hover {
  text-decoration-color: var(--text-color);
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--input-background-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

input:hover,
select:hover,
button:hover {
  background-color: var(--input-hover-background-color);
}

input:focus,
select:focus,
button:focus {
  background-color: var(--input-focus-background-color);
  outline: none;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
}

button {
  background-color: var(--accent-color);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button:hover {
  background-color: red;
}

button:disabled {
  background-color: var(--button-disabled-background-color);
  cursor: not-allowed;
  color: var(--button-disabled-text-color);
}

.filter-buttons {
  display: flex;
  justify-content: stretch;
  margin-bottom: 8px;
  gap: 8px;
}

.filter-buttons button {
  height: 28px;
  padding: 4px;
  border: 1px solid transparent;
  font-size: 12px;
}

.filter-buttons button:disabled {
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  cursor: unset;
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 8px;
}

strong {
  margin-right: 5px;
}

/* Reset default styles for checkbox */
input[type='checkbox'],
input[type='radio'] {
  display: none; /* Hide the default checkbox */
}

/* Style the label to look like a button */
label.checkbox-button {
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-focus-background-color);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

label.checkbox-button:hover {
  background-color: var(--button-disabled-text-color);
  color: #fff;
}

input[type='checkbox']:checked + label.checkbox-button,
input[type='radio']:checked + label.checkbox-button {
  background-color: var(--accent-color);
  border: 1px solid white;
  color: #fff;
}

.small-loading-spinner {
  float: right;
  width: 1em;
  height: 1em;
  border: 2px solid var(--accent-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Change to a single column on smaller screens */
  }

  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }

  label {
    font-size: 12px;
  }

  label.checkbox-button {
    font-size: 10px;
  }

  .form-columns {
    grid-template-columns: 1fr;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading-results {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
