body {
  padding: 0 16px 16px 16px;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Arial', sans-serif;
}

.header {
  padding: 12px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
}

.form-container {
  height: 85vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #2d2d2d;
  border-radius: 0.5rem;
}

.results-container {
  height: 85vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #2d2d2d;
  border-radius: 0.5rem;
  overflow: scroll;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

h1 {
  margin-bottom: 8px;
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.form-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
  gap: 12px;
}

.form-columns > div {
  display: flex;
  justify-content: space-between;
}

.button-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.button-columns-3 {
  display: flex;
  justify-content: stretch;
  gap: 12px;
}

.button-columns-3 > div {
  display: flex;
  flex: 1;
}

label {
  margin-bottom: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #333;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

input:hover,
select:hover,
button:hover {
  background-color: #444;
}

input:focus,
select:focus,
button:focus {
  background-color: #555;
  outline: none;
}

input[type='checkbox'] {
  width: auto;
}

button {
  background-color: #b60707;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button:hover {
  background-color: red;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 8px;
}

strong {
  margin-right: 5px;
}

/* Reset default styles for checkbox */
input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

/* Style the label to look like a button */
label.checkbox-button {
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}

label.checkbox-button:hover {
  background-color: #666;
  color: #fff;
}

input[type="checkbox"]:checked + label.checkbox-button {
  background-color: #666;
  border: 1px solid white;
  color: #fff;
}

.small-loading-spinner {
  display: inline-block;
  float: right;
  width: 1em;
  height: 1em;
  border: 2px solid #b60707;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Change to a single column on smaller screens */
  }

  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }

  label {
    font-size: 12px;
  }

  label.checkbox-button {
    font-size: 10px;
  }
}
