.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.input-tag__tags li {
  align-items: center;
  background: var(--accent-color);
  border-radius: 0.5rem;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.input-tag__tags li.input-tag__tags__input {
  margin-right: 0;
}

.input-tag__tags li:hover {
  opacity: .5;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}
